@import "./theme";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font2;
    transition: all 0.3s ease-in-out;
}

body {
    color: $color4;
    background-color: $color3;
}

::selection {
    background: $color3;
    color: $color1;
}
